<%- include('header') %>
  <header>
    <h1><%= title %></h1>
    <a href="/new">New Message</a>
    <p>Welcome to <%= title %>, here are the latest messages</p>
  </header>

  <div id="messageboard">
    <% if (locals.messages) { %>
      <% messages.forEach((message, index) => { %>
        <div class="message-body">
          <div class="message">
            <% if (locals.currentUser.ismember) { %>
              <div class="userInfo">
                <p class="user"><%= message.username %></p>
                <p class="data"><%= message.created_at %></p>
              </div>
            <% } %>
            <p class="text"><%= message.message %></p>
          </div>
          <a href="<%= `message/${index}` %>">Open</a>
        </div>
      <% }) %>
    <% } %>
  </div>

  <div class="controls">
    <% if (!locals.currentUser.ismember) { %>
      <a href="/join-club">Join The Club</a>
    <% } %>
    <form action="/log-out" method="POST">
      <button type="submit" style="align-self: center;">Log Out</button>
    </form>
  </div>

<%- include('footer') %>